# Database
DATABASE_URL=postgresql://paylink:paylink_password@localhost:5433/paylink

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=21vhYauDyWiwgZe9vThCQrHsqKOkZ+NuH/qrq3Phneeuq896Dpzgvh8Ff8esSpaF
JWT_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
PAYER_SESSION_SECRET=X2bEEM4dQYnUJ8Y4pzxdSOvF/nfBug4CDPgXvFFwUeBHu9wEwAqrl6MUQ14lbeRx
PAYER_SESSION_EXPIRY=30d

# PawaPay
PAWAPAY_API_TOKEN=eyJraWQiOiIxIiwiYWxnIjoiRVMyNTYifQ.eyJ0dCI6IkFBVCIsInN1YiI6IjE0MTkiLCJtYXYiOiIxIiwiZXhwIjoyMDkwNDkzNTg4LCJpYXQiOjE3NzQ4NzQzODgsInBtIjoiREFGLFBBRiIsImp0aSI6Ijk3NGRiZjRlLWIxNTEtNGU5NC1hZjQ5LTZhYmYwMjAzOTFhZCJ9.BWv67p_ebvSA2ZnWTcKASfxZxwp_bce839cSkAv-nGK_yG14iorgFiAUoyOWxUVXwoGwG7_VN1moJC_opSpwkA
PAWAPAY_BASE_URL=https://api.sandbox.pawapay.io
PAWAPAY_CALLBACK_DEPOSIT=https://api.paylinks.never9to5ive.com/api/v1/callback/deposit
PAWAPAY_CALLBACK_PAYOUTS=https://api.paylinks.never9to5ive.com/api/v1/callback/payouts
PAWAPAY_CALLBACK_REFUND=https://api.paylinks.never9to5ive.com/api/v1/callback/refund
PAWAPAY_AIRTEL_MALAWI_PROVIDER=AIRTEL_MWI
PAWAPAY_TNM_MALAWI_PROVIDER=TNM_MWI

# TNM Mpamba
TNM_BASE_URL=https://[confirm-with-tnm]
TNM_WALLET=your-tnm-wallet-id
TNM_PASSWORD=your-tnm-password

# Airtel Money
AIRTEL_BASE_URL=https://openapiuat.airtel.mw
AIRTEL_CLIENT_ID=your-airtel-client-id
AIRTEL_CLIENT_SECRET=your-airtel-client-secret
AIRTEL_COUNTRY=MW
AIRTEL_CURRENCY=MWK
AIRTEL_DISBURSE_PIN=your-encrypted-disbursement-pin
AIRTEL_DISBURSE_PUBLIC_KEY=your-rsa-public-key-base64

# Firebase
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
FIREBASE_PROJECT_ID=paylinks-29884

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=lwandahorace@gmail.com
SMTP_PASSWORD=zokn ciww rmwh xueu
EMAIL_FROM=PayLink <lwandahorace@gmail.com>

# MSISDN encryption
ENCRYPTION_KEY=2846c3b1d81f3105d91c79429d8238626d3784407bdcc4f7d8ae945dcc0fbbda
ENCRYPTION_IV_LENGTH=16

# App
APP_URL=https://api.paylink.never9to5ive.com
WEB_URL=https://paylink.never9to5ive.com
DOCS_URL=http://localhost:5173
APP_PORT=3000
NODE_ENV=development


